
.text-primary-dark {
    color: #2c3e50;
}

.btn-primary:hover {
    background-color: #1a252f !important;
    border-color: #1a252f !important;
}

.lead {
    font-size: 1.1rem;
    font-weight: 300;
}
